table{
    width: 100%;
    border-collapse: collapse;
}



tr{
    text-align: left;
    padding-right: 30px;
    padding-top: 5px;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

th{
    border: 1px solid darkgrey;
}